[submodule "xsdk-uci-defaults"]
	path = xsdk-uci-defaults
	url = https://github.com/xize/xsdk-uci-defaults
	branch = main
[submodule "package/zyxel-t56-wireless-scripts-wifi-button"]
	path = package/zyxel-t56-wireless-scripts-wifi-button
	url = https://github.com/xize/zyxel-t56-wireless-scripts-wifi-button
[submodule "package/feeds/packages/l2-isolation"]
	path = package/feeds/packages/l2-isolation
	url = https://github.com/xize/l2-isolation
